<p>Chapter_0 手段と目的</p>

<div class="contents-row">
  <%= form_for @question, url: { action: "create" } do |f| %>
     <%= f.text_field :text %>
     <%= submit_tag 'submit' %>
  <% end %>
</div>

<div class="contents-row">
  <% @questions.each do |question| %>
    <p><%= question.user.nickname %>さんの質問</p>
    <p><%= question.text %></p>
  <% end %>
</div>